<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>todo_vue</title>
    <link
      href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/global.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 输入栏 -->
      <input type="text" v-model="todo" />
      <input type="button" value="新增任务" @click="addTodo" />
      <!-- 输入栏 结束 -->

      <!-- 内容栏 -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-group" id="todoes">
              <li
                class="list-group-item"
                v-for=" todo in todoes"
                :class='todo.statu==0?"list-group-item":
                   todo.statu==1?"list-group-item-info":
                   todo.statu==2?"list-group-item-success":
                   ""'
                @click="changeTodoStatu(todo)"
              >
                {{ todo.time }}_{{ todo.content }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 内容栏 结束 -->
    </div>
  </body>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        todoes: [
          { time: "2019-03-21 20:10", content: "已完成", statu: 2 },
          { time: "2019.03.21 20:10", content: "进行中", statu: 1 },
          { time: "2019.03.21 20:10", content: "未开始", statu: 0 }
        ],
        todo: "",
        status: {// 做一个状态的映射关系，状态为0时，要改变的状态是1
          0: 1,
          1: 2
        }
      },
      methods: {
        // 输入栏添加新任务
        addTodo() {
          this.todoes.push({
            time: new Date().fmt("yyyy-MM-dd hh:mm"),
            content: this.todo
          });
          this.todo = "";
        },
        // 点击改变任务状态
        changeTodoStatu(todo) {
          console.log(todo); // 点击获取内容todo
          if (this.status[todo.statu]) {
            todo.statu = this.status[todo.statu];
          }
        }
      }
    });
  </script>
</html>
